* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--White);
  color: var(--Dark-Grey);
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: 'JetBrains Mono';
  font-weight: 300;
}

a {
  color: var(--Dark-Grey);
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

.active {
  color: var(--Blue);
}

.menubar {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
