* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Neue Montreal';
}

a {
  color: var(--black);
}
