.home.index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signUp .signInSignUpForms #login_form {
  display: none;
}

.signUp .signInSignUpForms #signup_form {
  display: flex;
}

.logIn .signInSignUpForms #login_form {
  display: flex;
}

.logIn .signInSignUpForms #signup_form {
  display: none;
}

form {
  &.hidden {
    display: none;
  }
}

.Logo {
  text-transform: uppercase;
  font-size: 1.45rem;
  letter-spacing: -0.02rem;
  padding: 1rem 1rem 0;
  text-align: center;
}

.Cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
}

.HeadingAndCTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.Heading {
  width: 35.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Heading > H1 {
  font-size: 3rem;
  letter-spacing: -0.07rem;
  text-align: center;
}

.StrokeText {
  width: 18.7rem;
  height: 100%;
  align-self: end;
  padding-left: 3rem;
  margin-top: -1rem;
}

.Heading > p {
  font-size: 1rem;
  line-height: 110%;
  width: 22rem;
  margin-top: 0.3rem;
  font-family: 'Neue Montreal';
}

.Heading > div {
  margin-top: 3rem;
}

.CTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.signInSignUpForms > form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.signInSignUpForms input {
  width: 12rem;
  padding: 1rem 1.25rem;
  border-radius: 0.125rem;
  border: 0.08rem solid var(--Light-Grey);
  background: var(--White);
  font-size: 0.8rem;
}

.signInSignUpForms input::placeholder {
  color: var(--Light-Grey);
  font-size: 0.875rem;
  font-family: 'JetBrains Mono';
}

.signInSignUpForms input:focus {
  outline: none;
  border: 0.08rem solid var(--Light-Blue);
}

.signInSignUpForms input[type='submit'],
.textButton,
.menuButton {
  background: var(--Light-Blue);
  color: var(--Dark-Grey);
  border: none;
  padding: 1rem 1.25rem;
  border-radius: 0.125rem;
  cursor: pointer;
  font-size: 0.8rem;
}

.textButton,
.menuButton {
  width: 12rem;
  text-align: center;
}

.menuButton {
  background: var(--Blue-halftone);
  margin-top: 0.5rem;
}

.Heading a.menuButton:nth-of-type(1) {
  margin-top: 4rem;
}

.signInSignUpForms input[type='submit']:hover,
.textButton:hover,
.menuButton:hover {
  opacity: 0.6;
}

.CTA > a {
  font-size: 0.8rem;
}

.Form {
  display: flex;
  gap: 0.25rem;
}

.FormField,
.FormActions {
  display: flex;
  width: 12rem;
  padding: 1rem 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 0.125rem;
}

.FormField {
  border: 1px solid var(--Dark-Grey);
  background: #fafaf9;
}

.FormInput,
.FormButton {
  all: unset;
  color: var(--Dark-Grey);
  font-size: 0.875rem;
  line-height: 100%;
}

.FormActions {
  background: var(--Light-Blue);
  cursor: pointer;
}

.FormButton {
  color: var(--Dark-Grey);
  align-self: center;
}

#SuccessSubscription {
  font-family: 'JetBrains Mono';
}

.FormErrors {
  margin-bottom: 16px;
  color: var(--Pink);
}

.MemoryExamples {
  position: relative;
  width: 51%;
  height: 50vh;
}

.TextMemory {
  display: flex;
  width: 14rem;
  padding: 0.625rem;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 0.125rem;
  background-color: var(--Light-Grey);
  box-shadow: 0 2px 6px 0 rgba(24, 27, 22, 0.08);
  position: absolute;
  gap: 1.5rem;
}

.MemoryDescription {
  font-size: 0.75rem;
  letter-spacing: -0.015rem;
  margin: 0;
  color: var(--Dark-Grey);
}

.MemoryAuthor {
  font-size: 0.625rem;
  letter-spacing: -0.0125rem;
  margin: 0;
}

.ImageMemory {
  display: flex;
  width: 10.625rem;
  flex-direction: column;
  align-items: center;
  background: var(--Light-Grey);
  box-shadow: 0 2px 6px 0 rgba(24, 27, 22, 0.08);
  border-radius: 0 0 0.125rem 0.125rem;
  padding-bottom: 0.5rem;
}

body.index .ImageMemory {
  position: absolute;
}

.ImageMemoryItem {
  border-radius: 0.125rem 0.125rem 0 0;
  height: 10.625rem;
}

.MemoryDate {
  width: 90%;
  text-align: center;
  padding: 0.5rem;
  color: var(--Dark-Grey);
  font-size: 0.75rem;
  border-bottom: 1px solid var(--Dark-Grey);
  margin: 0;
}

body.index .TextMemory:first-child {
  right: 9rem;
  width: 12rem;
}

body.index .ImageMemory:nth-child(2) {
  left: 26rem;
  top: 3rem;
}

body.index .TextMemory:nth-child(3) {
  left: -11rem;
  top: 11rem;
  width: 13.875rem;
}

body.index .ImageMemory:nth-child(4) {
  top: 15rem;
  left: 1rem;
}

body.index .TextMemory:nth-child(5) {
  top: 18rem;
  left: 27rem;
  width: 12rem;
}

body.index .TextMemory:nth-child(6) {
  top: 23rem;
  left: 17rem;
  width: 10.625rem;
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.875rem;
  background-color: var(--Blue-halftone);
  padding: 1.5rem;
  min-height: 17rem;
}

#Name {
  font-size: 4rem;
}

.LinksAndDate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6rem;
  padding-left: 31rem;
  align-self: end;
}

.Pages.Footer {
  margin-top: 0;
  padding: 0;
}

.Authors {
  display: flex;
  flex-direction: column;
}

.Authors p {
  padding: 0 0 1.3rem;
  margin: 0;
}

.Authors p:last-child {
  margin-top: auto;
  padding: 0;
}
