body.preview {
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  padding: 3rem;
  font-size: 0.875rem;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

.previewMemories {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 36px;
}

.previewMemories > div {
  width: 22.3%;
}

body.preview h2 {
  font-size: 24px;
}

body.preview p {
  font-size: 16px;
}

body.preview img {
  width: 300px;
  padding: 1rem;
}

body.preview .MemoryDate {
  padding: 0 0 0.2rem;
}

body.preview .MemoryDescription {
  margin-top: 1rem;
}

.ImageMemory {
  box-shadow: none;
}

.Memory {
  display: flex;
  width: 10.625rem;
  flex-direction: column;
  align-items: center;
  background: var(--Light-Grey, #eaebe9);
  box-shadow: 0 2px 6px 0 rgba(24, 27, 22, 0.08);
  border-radius: 0 0 0.125rem 0.125rem;
  padding: 1rem;
}
