:root {
  /* ------------------------- COLORS ----------------------- */

  /* ------------------------- System ----------------------- */
  --White: #f9f8f6;
  --Light-Grey: #a7a6a4;
  --Grey: #52524f;
  --Dark-Grey: #333333;

  /* ------------------------- Blue ----------------------- */
  --Blue-halftone: #d5e7ff;
  --Light-Blue: #a1c8ff;
  --Blue: #6795d6;

  /* ------------------------- Pink ----------------------- */
  --Pink-Halftone: #ffe0df;
  --Light-Pink: #ffb4b2;
  --Pink: #e19593;

  /* ------------------------- Yellow ----------------------- */
  --Yellow-Halftone: #faf1d1;
  --Light-Yellow: #ffeeb2;
  --Yellow: #f2de97;

  /* ------------------------- Green ----------------------- */
  --Green-Halftone: #becdbd;
  --Light-Green: #a3b7a1;
  --Green: #6d8e6a;
}
